@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section link {

    <div class="page-header pull-left">
        <ol class="breadcrumb page-breadcrumb pull-left">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a asp-page="/Dashboard">Home</a>&nbsp;&nbsp;
            </li>
        </ol>
    </div>

}
<div class="row">

</div>
