<?xml version="1.0"?>
<appSettings>
  <add key="datasource_username" value="sa"/>
  <add key="datasource_password" value="tms2014"/>
  <add key="datasource_dbname" value="pos"/>
  <add key="datasource" value="hasusbook\sql2012" />

  <!--<add key="datasource_username" value="sa"/>
  <add key="datasource_password" value="tms2014"/>
  <add key="datasource_dbname" value="POS_HopeAndLane"/>
  <add key="datasource" value="hasusbook\sql2012" />-->

  <!--<add key="datasource_username" value="sa"/>
  <add key="datasource_password" value="tms2014"/>
  <add key="datasource_dbname" value="POS_dangeedums"/>
  <add key="datasource" value="hasusbook\sql2012" />-->

  <!--<add key="dataSource_username" value="sa"/>
  <add key="dataSource_password" value="tms2014"/>
  <add key="dataSource_dbname" value="POS_BS"/>
  <add key="dataSource" value="hasusbook\sql2012" />-->

  <!--<add key="dataSource_username" value="sa"/>
  <add key="dataSource_password" value="Do4safet"/>
  <add key="dataSource_dbname" value="POS_Addsso cafe"/>
  <add key="dataSource" value="TPSERVER\SQLEXPRESS2017" />-->
  
  <add key="Connection_Propery" value="500" />
  <add key="Max_Pool_Size" value="100" />
  <add key="Min_Pool_Size" value="10" />
  <add key="Connect_Timeout" value="500" />
  <add key="Connect_Timeout_max" value="1000" />
  <add key="Trusted_Connection" value="Yes" />
  <add key="Integrated Security" value="SSPI" />
  <add key="Windows_Authenticate" value="NO" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled"/>
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled"/>
  <add key="aspnet:MaxHttpCollectionKeys" value="2147483647"/>
  <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647"/>
  <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  <add key="DateCulture" value="en-GB"></add>
  <add key="Login_URL" value="http://localhost:53653/"/>
</appSettings>
